<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ChaiCode Web Development Cohort 2026</title>
        <meta
            name="description"
            content='This repository is the central "Source of Truth" for my journey through the ChaiCode Web Development Cohort, 2026.'
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="{{ '/favicon.svg' | relative_url }}"
        />
    </head>
    <body>
        <main class="container">{{ content }}</main>
    </body>
</html>
